.dado{
    font-size: 50px;
    font-weight: 600;
    width: 100px;
    height: 100px;
}

.shake{
    animation: shake 0.1s infinite;
}

@keyframes shake {
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}
